nav {
    background-color: rgb(178, 178, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}


.scrollable {
    position: relative;
    background-color: lightblue;
    height: 70px;
    padding: 10px;
    border: 5px solid grey;
    margin: 1em;
    overflow: auto;
}