nav {
    background-color: rgb(178, 178, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}


.scrollable {
    position: relative;
    background-color: lightblue;
    height: 70px;
    padding: 10px;
    border: 5px solid grey;
    margin: 1em;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: rgba(31, 53, 165, 0.22);
    border: 3px solid rgba(43, 65, 143, 0.523);
    text-align: center;
    border-radius: 3px;
  }